body, table, div, p
{
	background-color: Black;
	margin: 0 0 0 0;
	color: White;
	text-align: center;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	line-height: 20pt;
	font-weight: bold;
	overflow: hidden;
}

.ios-bars-hand{
    position: absolute;
    width: 20%;
    left:40%;
    height: 100%;
    background-color: black;
    opacity:0.75;
    z-index: 100000;
    display: none;
}

.ios-bars-hand .hand-animation{
    position: absolute;
    left:25%;
    width:50%;
	top: 20%;
}