html, body {
	margin: 0; padding: 0;
	font-family:'Myriad Pro Cond',Arial,"Arial Bold";
	overflow: hidden;
    background-color: #000;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
 }

.clearer { clear: both; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; }
a img { border: none; }


 #PageContainer,
 #PageContainerInner {
	width: 1750px; height: 1060px;
	/*position: relative;*/
}

 #PageContainer {
	margin: 0 auto;
}
 #PageContainer.won #PageContainerInner {
}

/*---------*/

#game-container {
	position: absolute;
}

#game-container #spinButton {
	position: absolute; cursor: pointer;
}

#game-container.isDesktop #spinButton:not(.no-hover):hover {   
    background: transparent url(../images/buttons/spin-normal-btn-over.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #spinButton:active 
{   
    background: transparent url(../images/buttons/spin-normal-btn-over.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #spinButton.disabled {   
    background: transparent url(../images/buttons/spin-normal-btn-desabled.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #coin-value-btn:hover {   
    background: transparent url(../images/buttons/coin-value-btn-over.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
#game-container #coin-value-btn:active 
{   
    background: transparent url(../images/buttons/coin-value-btn.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

#game-container #coin-value-btn.disabled {   
    background: transparent url(../images/buttons/coin-value-btn-desabled.png) 0 0 no-repeat;
    background-size: 100% 100%;
}


#betContainer {
	position: absolute;
}
#betContainer span {
	display: block; position: absolute; text-align: center;
	width: 80px; height: 25px;
	color: #FFFF00; font-weight: bold; font-size: 30px;
	/*text-shadow: 2px 2px 15px grey;*/
    font-family: 'Myriad Pro Cond';
}

#betContainer #betSpinUp,
#betContainer #betSpinDown {
	position: absolute;
	cursor: pointer;
}



/*----------*/

 #soundOffButton {
	/*position: absolute;*/
	width: 32px; height: 32px;
	cursor: pointer;
}

#closeButton {
    /*position: absolute;*/
    width: 32px;
    height: 32px;
    cursor: pointer;
}

 #soundOffButton.off { background: transparent url(../../common/img/buttons/sounds-off.png) 0 0 no-repeat; background-size: 100%;}

/*---------*/

#global{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

#PageContainerInner{
	left: 0px;
	top: 0px;
	position: relative;
    display: none;

}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    /*margin: 0;*/
    padding: 0;
    margin: 0;
}


ul li img {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    /*border: 1px red solid;*/
}

#nav-bar ul li {
    display: block;
    /*margin: 0;*/
    padding: 0;
    margin: 2px;
}


.label-info {
    display: block;
    float: left !important;
    font-family: 'Myriad Pro Cond' !important;
    font-weight: 400 !important;
    z-index: 9000 !important;
    color: #fef9d2;
    text-shadow:
       -1px -1px 0 #621e07,  
        1px -1px 0 #621e07,
        -1px 1px 0 #621e07,
         1px 1px 0 #621e07;
}


.total-bet-label-2 {
    color: #aa8c4d !important;
    font-size: 20px !important;
    left: 259px !important;
    top: 104px;
    text-align: center !important;
    width: 72px !important;
    z-index: 100 !important;
    display: inline-block;
    text-shadow: 0px 0px 0 !important;
    background: transparent url(../images/buttons/chip.png) 0 0 no-repeat;
        background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 45px !important;
}


.credits-label-2 {
    color: #aa8c4d !important;
    font-size: 20px !important;
    left: 76px !important;
    text-align: center !important;
    width: 237px !important;
    top: 90px;
    z-index: 100 !important;
    display: inline-block !important;
    text-shadow: 0px 0px 0 !important;

}


.win-label-2 {
    color: #ffd884 !important;
    font-size: 20px !important;
    left: 563px !important;
    text-align: center !important;
    width: 239px !important;
    z-index: 100 !important;
    display: inline-block !important;
    top: 90px;
    text-shadow: 0px 0px 0 !important;
}


#error-message,
#info-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
}

.message-box-mobile{
    transform: scale(2);
}



#hight-light-container
{
    display: block;
    position: absolute;
    width: 94%;
    height: 551px;
    left: 3%;
    top: 45px;
    /*border: 1px solid red;*/
}

.high-light-icon {
    font-size: 65px;
    color: #fff;
    min-width: 180px;
    position: absolute;
    padding: 0.2% 0%;
    font-family: 'Myriad Pro Cond';
    z-index: 101;
    text-align: center;
    background-color: transparent;
    height: 173px;

}


.buttons-panel-left,
.buttons-panel-right {
    position: absolute;
    width: 180px;
    z-index: 11;
    top: 147px;
    height: 0;
}

.buttons-panel-left {
    left: 0;
}

.buttons-panel-left-Desktop {
    right: 0 !important;
}

.buttons-panel-right {
    right: 0%;
}

.buttons-panel-right-Desktop {
    left: 0% !important;
}

.buttons-panel-left .btn-lobby.iphone,
.buttons-panel-right .btn-options.iphone {
    top: 10%
}

.buttons-panel {
    position: absolute;
    width: 100%;
    height: 960px;
    top: 9%
}

.buttons-panel-Desktop {
    position: absolute !important;
    width: 100% !important;
    height: 90px !important;
    /* background-color: red; */
}

.btn-panel-cont-Desktop
{
    position: absolute;
    width: 50%;
    z-index: 11;
    top: 797px;
    height: 0;
}
    

.buttons-panel-port {
    height: 91%;
    top: 9%
}

.buttons-panel .button {
    text-align: center;
    width: 100%;
    height: 13%;
    margin-bottom: 15%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}


.panel-left-button-Desktop {
    background: url(../images/buttons/left_button.png) no-repeat top left !important;
    background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    float: left !important;
    position: relative !important;
    margin-left: 12px !important;
    width: 210px !important;
    height: 70px !important;
}

.buttons-panel-left .buttons-panel .button {
    background: url(../images/buttons/left_button.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    float: left;
    position: relative;
    margin-left: -10px;
    width: 110%;
}

.buttons-panel-left .buttons-panel .button:hover {
    background: url(../images/buttons/left_button_over.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.buttons-panel-right .buttons-panel .button {
    background: url(../images/buttons/right_button.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    float: right;
    position: relative;
    margin-right: -10px;
    width: 110%;
}

.panel-right-button-Desktop {
    background: url(../images/buttons/right_button.png) no-repeat top left !important;
    background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    float: right !important;
    position: relative !important;
    margin-right: 12px !important;
    width: 210px !important;
    height: 70px !important;
}



.buttons-panel-right .buttons-panel .button:hover {
    background: url(../images/buttons/right_button_over.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.buttons-panel .button-portrait {
    margin-bottom: 5%
}

.buttons-panel .button.btn-move {
    width: 80%;
    margin: 5% 10% 30%;
    background: url(../images/buttons/switch-button.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%
}

.buttons-panel .button:hover {
    cursor: hand;
    cursor: pointer
}

.buttons-panel-right .buttons-panel .button div {
    margin-left: 5%
}

.buttons-panel-left .buttons-panel .button div {
    margin-right: 5%
}

.buttons-panel .button div {
    float: left;
    width: 95%;
    height: 100%;
    display: table;
    text-align: center;
    color: #0a0a0a;
    font-family: 'Myriad Pro Cond';
    font-weight: 600;
    font-size: 3em;
    line-height: 1em;
    text-shadow: 1px 1px 1px #b7b5b5;
}

.buttons-panel .insurance-button div {
    font-size: 2.3em!important
}

.buttons-panel .button div span {
    display: table-cell;
    vertical-align: middle
}

.buttons-panel .button.button-disable {
    display: none
}


/*Main Block*/
.main-block
{
    width:100%;
    height:88%;
    float:left;
    clear:both;
    position:relative;    
    font-size: 1em;
}

.main-block .message-panel
{
    position:absolute;
    top:45%;
    left:30%;
    height:25%;
    width:40%;
    background-color:Black;
    text-align:center;
    
    opacity:0.9;
    filter:Alpha(opacity=90); /* IE8 and earlier */
    
    border:0.5em solid #8D8242;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -ms-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    border-radius: 0.7em;
    
    display:none;
    z-index:5;
}

.main-block .message-panel div
{
    float:left;
    width:100%;
    height:100%;
    display:table;
    border-spacing:1em 1em;
    text-align:center;
}

.main-block .message-panel div span
{
    display:table-cell;
    vertical-align:middle;
    width:55%;
    color:white;
    font-size:2.5em;
    /*text-align:justify;*/
    line-height:1em;
    font-weight:600;
    font-family: 'Myriad Pro Cond'; 
}

.main-block .dealer-card-animate
{
    background:url('../images/Cards/60.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    
    position:absolute;
    top:-25%;
    left:70%;
    height:26%;
    width:11.5%;
    text-align:center;
    z-index:4;
}

.main-block .dealer-card-animate.portrait{
    width:18.5%;
}

.main-block .dealer-card-animate.portrait.insurance{
    left:38%;
}

.main-block .dealer-card-animate.insurance{
    top: 70px;
    left: 791px;
    height: 173px;
    width: 127px;
    z-index: 0;
    display: none;
}

.main-block .split-center-card-animate, .main-block .split-left-card-animate, .main-block .split-right-card-animate
{
    background:url('../images/Cards/60.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    
    position:absolute;
    top:-29%;
    height:30%;
    width:14.5%;
    text-align:center;
    z-index:4;
    transform: scale(0.6);
}

.main-block .split-center-card-animate.portrait, .main-block .split-left-card-animate.portrait, .main-block .split-right-card-animate.portrait
{
    width:23.5%;
}

.main-block .split-center-card-animate, .main-block .split-right-card-animate
{
    left:70%;
}

.main-block .split-left-card-animate
{
    left:30%;
}


.main-block .split-center-card-animate, .main-block .split-left-split2-card-animate, .main-block .split-right-split1-card-animate
{
    background:url('../images/Cards/60.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    
    position:absolute;
    top:-29%;
    height:30%;
    width:14.5%;
    text-align:center;
    z-index:4;
    transform: scale(0.6);
}

.main-block .split-center-card-animate.portrait, .main-block .split-left-split2-card-animate.portrait, .main-block .split-right-split1-card-animate.portrait
{
    width:23.5%;
}

.main-block .split-center-card-animate, .main-block .split-right-split1-card-animate
{
    left:70%;
}

.main-block .split-left-split2-card-animate
{
    left:30%;
}

/*/*/
.main-block .split-center-atm1-card-animate, .main-block .split-left-atm1-split2-card-animate, .main-block .split-right-atm1-split1-card-animate
{
    background:url('../images/Cards/60.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    
    position:absolute;
    top:-29%;
    height:30%;
    width:14.5%;
    text-align:center;
    z-index:4;
    transform: scale(0.6);
}


.main-block .split-center-atm1-card-animate, .main-block .split-right-atm1-split1-card-animate
{
    left:70%;
}

.main-block .split-left-atm1-split2-card-animate
{
    left:30%;
}

/*/*/
.main-block .split-center-atm3-card-animate, .main-block .split-left-atm3-split2-card-animate, .main-block .split-right-atm3-split1-card-animate
{
    background:url('../images/Cards/60.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    
    position:absolute;
    top:-29%;
    height:30%;
    width:14.5%;
    text-align:center;
    z-index:4;
    transform: scale(0.6);
}


.main-block .split-center-atm3-card-animate, .main-block .split-right-atm3-split1-card-animate
{
    left:70%;
}

.main-block .split-left-atm3-split2-card-animate
{
    left:30%;
}




#dealer-elements{
    position: absolute;
    top: 3%;
    left: 20% !important;
    width: 54%;
    height: 32%;
    font-size: 1em;
    transform: scale(0.65);
    /*background-color:Fuchsia;*/
}
    
.dealer-cards
{
    position:absolute;
    top:0%;
    left:10%;
    width:84%;
    height:100%;
    text-align: center;
}
    
.dealer-cards li{
    /*float:left;*/
    width:200px;
    height:100%;
    margin-left:-17%;
}

.dealer-cards li.shadow
{
    position:relative;
    margin-left:-0.8%;
    width:15%;
    height:100%;
}

.dealer-cards li:first-child
{
    margin-left:0%;
}

.dealer-cards li.shadow div
{
    position:absolute;
    top:19%;
    width:100%;
    height:81%;
}

.player-user-turn, .dealer-user-turn
{
    background: url(../images/hand-indicator.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: absolute;
    /* top: 45%; */
    /* left: 6%; */
    width: 100px;
    height: 100px;
    display: none;
    z-index: 1;
    margin-top: -85px;
    margin-left: -80px;
}
.player-user-turn-right {
    background: url(../images/hand-indicator.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: absolute;
    top: 60%;
    left: 0%;
    width: 12%;
    height: 22%;
    display: none;
    z-index: 1;
}

.player-user-turn-left{
    background: url(../images/hand-indicator.png) no-repeat top left;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: absolute;
    top: 58%;
    left: 0%;
    width: 12%;
    height: 22%;
    display: none;
    z-index: 1;
}

.dealer-user-turn
{
    /*top:50%;
    left:2%;*/
    margin-left: 0;
}

.dealer-count-info, .player-count-info
{
    position: absolute;
    /* top: 70%; */
    /* left: -5%; */
    text-align: center !important;
    display: none;
    color: #DCD6AE;
    font-family: 'Myriad Pro Cond';
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #747B75;
    z-index: 1;
    background-color: #0000ff;
    border: 3px solid #000000ad;
    border-radius: 50%;
    margin-top: 302px;
    visibility: : hidden;
    /* margin-right: 0; */

}

.player-count-info-atm1
{
    position: absolute;
    top: 30%;
    left: -5%;
    text-align: center !important;
    display: none;
    color: #DCD6AE;
    font-family: 'Myriad Pro Cond';
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #747B75;
    z-index: 1;
    background-color: #0000ff9c;
    border: 3px solid #000000ad;
    border-radius: 46px;
    height: 30%;
    width: 13.5%;
}

.player-count-info-atm3
{
    position: absolute;
    top: 30%;
    left: -5%;
    text-align: center !important;
    display: none;
    color: #DCD6AE;
    font-family: 'Myriad Pro Cond';
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #747B75;
    z-index: 1;
    background-color: #0000ff9c;
    border: 3px solid #000000ad;
    border-radius: 46px;
    height: 30%;
    width: 13.5%;
}

.dealer-count-info.busted, .player-count-info.busted
{
    color: #f8947c;
    text-shadow: none;
}

.dealer-count-info
{
    height: 80px !important;
    width: 80px !important;
    font-size: 3em !important;
    margin-top: 210px;
    margin-left: 100px;
}

.player-count-info
{
    height: 80px !important;
    width: 80px !important;
}

.dealer-count-info span, .player-count-info span, .player-count-info-atm1 span, .player-count-info-atm3 span
{
    display:table-cell;
    vertical-align:middle;
}



.player-hand-result
{ 
    /* background: url(../img/hand-result-bkgd.png) no-repeat top left; */
    /* background-size: 100% 100%; */
    -moz-background-size: 100% 100%;
    position: absolute;
    top: 37%;
    left: 18%;
    color: #FFFFFF;
    font-family: 'Myriad Pro Cond';
    font-size: 44px;
    line-height: 1em;
    font-weight: 600;
    padding: 4% 6%;
    text-align: center;
    z-index: 3;
    display: none;
    border-radius: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(64,64,66,1) 56%, rgba(109,111,111,1) 100%);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px double gold;
    display:none;
}

.player-hand-result-atm3
{ 
    /* background: url(../img/hand-result-bkgd.png) no-repeat top left; */
    /* background-size: 100% 100%; */
    -moz-background-size: 100% 100%;
    position: absolute;
    top: 37%;
    left: -6%;
    color: #FFFFFF;
    font-family: 'Myriad Pro Cond';
    font-size: 44px;
    line-height: 1em;
    font-weight: 600;
    padding: 4% 6%;
    text-align: center;
    z-index: 3;
    display: none;
    border-radius: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(64,64,66,1) 56%, rgba(109,111,111,1) 100%);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px double gold;
    display:none;
}


.player-hand-result-atm1
{ 
    /* background: url(../img/hand-result-bkgd.png) no-repeat top left; */
    /* background-size: 100% 100%; */
    -moz-background-size: 100% 100%;
    position: absolute;
    top: 37%;
    left: 60%;
    color: #FFFFFF;
    font-family: 'Myriad Pro Cond';
    font-size: 44px;
    line-height: 1em;
    font-weight: 600;
    padding: 4% 6%;
    text-align: center;
    z-index: 3;
    display: none;
    border-radius: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(64,64,66,1) 56%, rgba(109,111,111,1) 100%);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px double gold;-card-animate
    display:none;
}

.player-hand-result.insurance-result
{     
    top: 64%;
    left: 70%;
    font-size: 3em;
    /*min-width: 35%;*/
    position: relative;
}
    
#split-center, #split-left-split2, #split-right-split1{
    position:absolute;
    width:45%;
    height:35%;
    font-size: 1em;
    transform: scale(0.64);
}

#split-center{
    top: 47%;
    left: 28% !important;
    height: 44%;
}

#split-left-split2{
    top: 40%;
    left: 10%;
    height: 44%;
    transform: scale(0.6);
}

#split-right-split1{
    top: 40%;
    left: 47%;
    height: 44%;
    transform: scale(0.6);
}

#split-right-atm1-split1{
    top: 52%;
    left: 37%;
    height: 44%;
}




.split-center-cards, .split-left-cards, .split-right-cards
{
    position:absolute;
    top:0%;
    left:-65px;
    width:100%;
    height:100%;
    text-align: center;

}
    
.split-left-cards li,
.split-center-cards li,
.split-right-cards li{
    /*float:left;*/
    width:33%;
    height:100%;
    margin-left:-25%;
}

.split-left-cards li.shadow,
.split-center-cards li.shadow,
.split-right-cards li.shadow
{
    position:relative;
    margin-left:-1%;
    width:15%;
    height:100%;
}

.split-left-cards li:first-child,
.split-center-cards li:first-child,
.split-right-cards li:first-child{
    margin-left:0%;
}
  
.dealer-cards li div,
.split-left-cards li div,
.split-center-cards li div,
.split-right-cards li div{
    width:100%;
    height:100%;
    display:none;
}

.split-left-cards li.shadow div,
.split-center-cards li.shadow div,
.split-right-cards li.shadow div{
    position:absolute;
    top:14%;
    width:100%;
    height:86%;
}

/****/
#split-center-atm1, #split-left-atm1-split2, #split-right-atm1-split1{
    position:absolute;
    width:45%;
    height:35%;
    font-size: 1em;
    transform: scale(0.6);
}

#split-center-atm1{
    top: 36%;
    left: 64.5% !important;
    width: 43%;
    height: 42%;
}


#split-left-atm1-split2{
    top: 20%;
    left: 57%;
    height: 39%;
    width: 41%;
}

#split-right-atm1-split1{
    top: 50%;
    left: 63%;
    height: 42%;
    width: 43%;
}

.split-center-cards-atm1, .split-left-cards-atm1, .split-right-cards-atm1
{
    position:absolute;
    top:0%;
    left:12%;
    width:100%;
    height:100%;
}
    
.split-left-cards-atm1 li,
.split-center-cards-atm1 li,
.split-right-cards-atm1 li{
    float:left;
    width:33%;
    height:100%;
    margin-left:-23%;
}

.split-left-cards-atm1 li.shadow,
.split-center-cards-atm1 li.shadow,
.split-right-cards-atm1 li.shadow
{
    position:relative;
    margin-left:-1%;
    width:15%;
    height:100%;
}

.split-left-cards-atm1 li:first-child,
.split-center-cards-atm1 li:first-child,
.split-right-cards-atm1 li:first-child{
    margin-left:0%;
}
  
.split-left-cards-atm1 li div,
.split-center-cards-atm1 li div,
.split-right-cards-atm1 li div{
    width:100%;
    height:100%;
    display:none;
}

.split-left-cards-atm1 li.shadow div,
.split-center-cards-atm1 li.shadow div,
.split-right-cards-atm1 li.shadow div{
    position:absolute;
    top:14%;
    width:100%;
    height:86%;
}

                    /****/
#split-center-atm3, #split-left-atm3-split2, #split-right-atm3-split1{
    position:absolute;
    width:45%;
    height:35%;
    font-size: 1em;
    transform: scale(0.6);
}

#split-center-atm3{
    top: 36%;
    left: -7% !important;
    width: 43%;
    height: 42%;
}

#split-left-atm3-split2{
    top: 20%;
    left: -14%;
    height: 39%;
    width: 41%;
}

#split-right-atm3-split1{
    top: 50%;
    left: 0%;
    height: 42%;
    width: 43%;
}

.split-center-cards-atm3, .split-left-cards-atm3, .split-right-cards-atm3
{
    position:absolute;
    top:0%;
    left:12%;
    width:100%;
    height:100%;
}

#cards-total-split-left-split2{
    display: table;
}
    
.split-left-cards-atm3 li,
.split-center-cards-atm3 li,
.split-right-cards-atm3 li{
    float:left;
    width:33%;
    height:100%;
    margin-left:-23%;
}

.split-left-cards-atm3 li.shadow,
.split-center-cards-atm3 li.shadow,
.split-right-cards-atm3 li.shadow
{
    position:relative;
    margin-left:-1%;
    width:15%;
    height:100%;
}

.split-left-cards-atm3 li:first-child,
.split-center-cards-atm3 li:first-child,
.split-right-cards-atm3 li:first-child{
    margin-left:0%;
}
  
.split-left-cards-atm3 li div,
.split-center-cards-atm3 li div,
.split-right-cards-atm3 li div{
    width:100%;
    height:100%;
    display:none;
}

.split-left-cards-atm3 li.shadow div,
.split-center-cards-atm3 li.shadow div,
.split-right-cards-atm3 li.shadow div{
    position:absolute;
    top:14%;
    width:100%;
    height:86%;
}


.btn-chips-bet
{    
    position: absolute;
    display: table;
    top: 42%;
    left: 32%;
    width: 40%;
    height: 77%;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

.btn-chips-bet:hover
{
    cursor: hand; 
    cursor: pointer;
}

.btn-chips-bet .place-bet
{
    display:table-cell;
    vertical-align:middle;
    
    color: #4aaf3b;
    font-family: 'Myriad Pro Cond';
    font-size: 2.3em;
    line-height:1em;
    font-weight: 600;
}

.place-bet
{
    vertical-align: middle;
    color: #fff;
    font-family: 'Myriad Pro Cond';
    font-size: 2.3em;
    line-height: 6em;
    font-weight: 600;
    width: 100%;
}

.place-bet-left{
    font-size: 2em;
    line-height: 5.5em;
}

.place-bet-right{
    font-size: 2em;
    line-height: 5.5em;
}


.btn-chips-bet.disable
{
    cursor:default;
    z-index:0;
}

.chips-right-atm1-main{
    top: 39%;
    left: 33%;
}


.chips-right-atm3-main{
    top: 39%;
    left: 32%;
}



.btn-chips-bet .chips-bet
{
    position: absolute;
    top: 72%;
    left: 60px;
    width: 48%;
    height: 71%;
    font-size: 13px;
}

.btn-chips-bet .chips-bet.disable
{
    position:absolute;
    top: 63%;
    left: 15%;
    width:48%;
    height:70%;
    z-index:0;
}

.btn-chips-bet .chips-insurance
{
    position:absolute;
    left: 100%;
    top: 56%;
    width: 47%;
    height: 70%;
    display:none;
}


.btn-chips-bet .chips-bet li, .btn-chips-bet .chips-insurance li{
    position:absolute;
    left:10%;
    width:80%;
    height:67%;
    text-align:center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    display:table;
}

.btn-chips-bet .chips-bet li span, .btn-chips-bet .chips-insurance li span
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:#222222;
    font-size:50px;
    font-weight:500;
    font-family:'Myriad Pro Cond';
}

.bet-box
{
    position:absolute;
    top:81.5%;
    left:41.7%;
    width:35%;
    height:28%;
    
    display:table;
    text-align:center;
    
    color: #DCD6AE;
    font-family: 'Myriad Pro Cond';
    font-size: 2.8em;
    line-height:1em;
    font-weight: bold;
    
    /*background:url('../img/bet-amount-box.png') no-repeat top left;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;*/
    z-index:1;
}

.bet-box.disable
{
    top:120% !important;
    /*left:14.5%;*/
}

.bet-box-insurance
{
    top: 112%;
    left: 66%;
    width: 30%;
    height: 25%;
}

.bet-box span
{
    display:table-cell;
    vertical-align:middle;
}

.collapsed {
    visibility: collapse!important;
}

#instructions{
    position: absolute;
    color: #aa8c4d;
    font-size: 20px;
    left: 454px;
    top: 15px;
    background: transparent url(../images/instructions/borders.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 205px;
    width: 850px;
}

#bjk-pays{
    background: transparent url(../images/instructions/bjk_pays.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 205px;
    width: 850px;    
    display: none;
}

#ins-pays{
    background: transparent url(../images/instructions/ins_pays.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 191px;
    width: 850px;
    position: absolute;
    top: 16px;
    display: none;
}

#dealer_stand{
    background: transparent url(../images/instructions/dealer_stand.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 191px;
    width: 850px;
    position: absolute;
    top: 16px;
    display: none;

}

#dealer_stand_hard{
    background: transparent url(../images/instructions/dealer_stand_hard.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 191px;
    width: 850px;
    position: absolute;
    top: 16px;
    display: none;
}


#min-max{
    position: absolute;
    font-size: 20px;
    left: -102px;
    top: 39px;
    background: transparent url(../images/cont-mibnax.png) 0 0 no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 121px;
    width: 206px;
    transform: rotate(-39deg);
}

#min-max-info{
    position: absolute;
    height: 57%;
    top: 11px;
    left: 35px;
}

#lbl-minbet{
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.16);
}   

#lbl-maxbet{
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.16);
}

#val-minbet{
    color: #000;
    font-size: 25px;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.16);
}   

#val-maxbet{
    color: #000;
    font-size: 25px;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.16);
}

.instruc-number{
    font-size: 40px;
    color: #549fa1;
    text-shadow: 1px 2px 0px rgb(25, 72, 79,0.16);
    position: absolute;
    height: 27px;
    width: 50px;
    font-family: "Times New Roman", Times, serif;
    display: none;
}

#bjk-int-1{
    top: 60px;
    left: 585px;
    transform: rotate(-16deg);
}

#bjk-int-2{
    top: 22px;
    left: 711px;
    transform: rotate(-21deg);
}

#ins-int-1{
    top: 158px;
    left: 574px;
    transform: rotate(-10deg);
    font-size: 37px;
}

#ins-int-2{
    top: 131px;
    left: 692px;
    transform: rotate(-17deg);
    font-size: 37px;
}

.min-max-mobile {
    left: -102px !important;
}