html, body {
	margin: 0; padding: 0;
	font-family:'Myriad Pro Cond',Arial,"Arial Bold";
	overflow: hidden;
    background-color: #000;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
 }

.clearer { clear: both; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; }
a img { border: none; }


 #PageContainer,
 #PageContainerInner {
	width: 1287px; height: 936px;
	/*position: relative;*/
}

 #PageContainer {
	margin: 0 auto;
}
 #PageContainer.won #PageContainerInner {
}

/*---------*/

#game-container {
	position: absolute;
}

#game-container #spinButton {
	position: absolute; cursor: pointer;
}

#game-container.isDesktop #spinButton:not(.no-hover):hover {   
    background: transparent url(../images/buttons/spin-normal-btn-over.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #spinButton:active 
{   
    background: transparent url(../images/buttons/spin-normal-btn-over.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #spinButton.disabled {   
    background: transparent url(../images/buttons/spin-normal-btn-desabled.png) 0 0 no-repeat;
    background-size: 100%;
}

#game-container #coin-value-btn:hover {   
    background: transparent url(../images/buttons/coin-value-btn-over.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
#game-container #coin-value-btn:active 
{   
    background: transparent url(../images/buttons/coin-value-btn.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

#game-container #coin-value-btn.disabled {   
    background: transparent url(../images/buttons/coin-value-btn-desabled.png) 0 0 no-repeat;
    background-size: 100% 100%;
}


/*#game-container #lines-bet-btn:hover {   
    background: transparent url(../images/buttons/lines-btn-over.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
#game-container #lines-bet-btn:active 
{   
    background: transparent url(../images/buttons/lines-btn.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

#game-container #lines-bet-btn.disabled {   
    background: transparent url(../images/buttons/lines-btn-desabled.png) 0 0 no-repeat;
    background-size: 100% 100%;
}*/


#betContainer {
	position: absolute;
}
#betContainer span {
	display: block; position: absolute; text-align: center;
	width: 80px; height: 25px;
	color: #FFFF00; font-weight: bold; font-size: 30px;
	/*text-shadow: 2px 2px 15px grey;*/
    font-family: 'Myriad Pro Cond';
}

#betContainer #betSpinUp,
#betContainer #betSpinDown {
	position: absolute;
	cursor: pointer;
}



/*---------*/

#game-container #ReelContainer {
	position: absolute;
    left: 27px;
    top: 52px;
    width: 955px;
    height: 539px;
    overflow: hidden;
}

#game-container #ReelContainer #reelOverlay {
	position: absolute; top: 0; left:0; right: 0; bottom: 0;
	z-index: 100;
	display: none;
}

#game-container #ReelContainer .reel {
	/*position: absolute;*/
	width: 121px; height: 2160px; /* set the height to 3 * the strip PNG height */
}

#game-container #ReelContainer #reel1 { left: 11px; position: absolute;
/*-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);*/
}
#game-container #ReelContainer #reel2 { left: 201px; position: absolute;
/*-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);*/
}
#game-container #ReelContainer #reel3 { left: 392px;  position: absolute;}
#game-container #ReelContainer #reel4 { left: 585px;  position: absolute;}
#game-container #ReelContainer #reel5 { left: 775px;  position: absolute;}

/*----------*/

 #soundOffButton {
	/*position: absolute;*/
	width: 32px; height: 32px;
	cursor: pointer;
}

#closeButton {
    /*position: absolute;*/
    width: 32px;
    height: 32px;
    cursor: pointer;
}

 #soundOffButton.off { background: transparent url(../common/img/buttons/sounds-off.png) 0 0 no-repeat; background-size: 100%;}

/*---------*/

#prizes_list { position: absolute; height: auto; }
#prizes_list .trPrize {}
#prizes_list .tdReels { float: left; clear: both; }
#prizes_list .tdPayout { float: left; text-align: right; }

#prizes_list .trPrize.won { }
#prizes_list .trPrize.won .tdPayout { font-weight: bold; }

#prizes_list .tdReels div.reelIcon {
	width: 30px; height: 30px; float: left; margin: 0 5px;
	background-repeat: no-repeat;
}

#global{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

#PageContainerInner{
	left: 0px;
	top: 0px;
	position: relative;
    display: none;

}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    /*margin: 0;*/
    padding: 0;
    margin: 0;
}


ul li img {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    /*border: 1px red solid;*/
}

#nav-bar ul li {
    display: block;
    /*margin: 0;*/
    padding: 0;
    margin: 2px;
}


.label-info {
    display: block;
    float: left !important;
    font-family: 'Myriad Pro Cond' !important;
    font-weight: 400 !important;
    z-index: 9000 !important;
    color: #fef9d2;
    text-shadow:
       -1px -1px 0 #621e07,  
        1px -1px 0 #621e07,
        -1px 1px 0 #621e07,
         1px 1px 0 #621e07;
}


.total-bet-label-2 {
    color: #aa8c4d !important;
    font-size: 20px !important;
    left: 259px !important;
    top: 104px;
    text-align: center !important;
    width: 72px !important;
    z-index: 100 !important;
    display: inline-block;
    text-shadow: 0px 0px 0 !important;
    background: transparent url(../images/buttons/chip.png) 0 0 no-repeat;
        background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    height: 45px !important;
}


.credits-label-2 {
    color: #aa8c4d !important;
    font-size: 20px !important;
    left: 76px !important;
    text-align: center !important;
    width: 237px !important;
    top: 90px;
    z-index: 100 !important;
    display: inline-block !important;
    text-shadow: 0px 0px 0 !important;

}


.win-label-2 {
    color: #ffd884 !important;
    font-size: 20px !important;
    left: 563px !important;
    text-align: center !important;
    width: 239px !important;
    z-index: 100 !important;
    display: inline-block !important;
    top: 90px;
    text-shadow: 0px 0px 0 !important;
}

.line-image {
    height: 100%;
    width: 103%;
    top: 0;
    left: -14px;
    position: absolute;
    z-index: 100;
    display: none;
}

#lines-container
{
    display: block;
    position: absolute;
    width: 94%;
    height: 551px;
    left: 3%;
    top: 100px;
}

.line-credits {
    font-size: 51px;
    color: #fff;
    min-width: 171px;
    position: absolute;
    padding: 0.2% 0%;
    font-family: 'Myriad Pro Cond';
    z-index: 101;
    text-align: center;
    display: none;
    background-color: #000;
    border: 3px solid #fbe36f;
    -moz-border-image: -moz-linear-gradient(top, #fbe36f  0%, #805b06   100%);
    -webkit-border-image: -webkit-linear-gradient(top, #fbe36f  0%, #805b06   100%);
    border-image: linear-gradient(to bottom, #fbe36f  0%, #805b06   100%);
    border-image-slice: 1;
    border-radius: 7px;
    border-style: solid;
}

.line-credits-mobile {
    font-size: 36px !important;
    padding: 0% !important;
}

#credits-box1{
    left: 21% !important;
    top: 0% !important;
}

#credits-box2{
    left: 21% !important;
    top: 32% !important;
}

#credits-box3{
    left: 21% !important;
    top: 66% !important;
}

#credits-box4{
    left: 40.8% !important;
    top: 0%;
}

#credits-box5{
    left: 40.8% !important;
    top: 32%;
}

#credits-box6{
    left: 40.8% !important;
    top: 66%;
}

#credits-box7{
    left: 60.8% !important;
    top: 0%;
}

#credits-box8{
    left: 60.8% !important;
    top: 32%;
}

#credits-box9{
    left: 60.8% !important;
    top: 66%;
}

#credits-box10{
    left: 80.6% !important;
    top: 0%;
}

#credits-box11{
    left: 80.6% !important;
    top: 32%;
}

#credits-box12{
    left: 80.6% !important;
    top: 66%;
}
/*
#credits-box13{
    left: 32%;
    top: 65%;
    border: 3px solid #fcf34c;
}

#credits-box14{
    left: 64%;
    top: 48%;
    border: 3px solid #7ef916;
}

#credits-box15{
    left: 15%;
    top: 53%;
    border: 3px solid #fd53d0;
}

#credits-box16{
    top: 36%;
    left: 71%;
    border: 3px solid #f999e5;
}

#credits-box17{
    top: 40%;
    left: 19%;
    border: 3px solid #0251ff;
}

#credits-box18{
    top: 27%;
    left: 53%;
    border: 3px solid #72819b;
}

#credits-box19{
    top: 65%;
    left: 15%;
    border: 3px solid #9eaeab;
}

#credits-box20{
    left: 42%;
    top: 0;
    border: 3px solid #a13d3c;
}

#credits-box21{
    top: 89%;
    left: 44%;
    border: 3px solid #fe771b;
}

#credits-box22{
    top: 89%;
    left: 72%;
    border: 3px solid #36adbd;
}

#credits-box23{
    left: 20%;
    top: 0.5%;
    border: 3px solid #faf905;
}

#credits-box24{
    left: 75%;
    top: 58%;
    border: 3px solid #96e200;
}

#credits-box25{
    left: 75%;
    top: 68%;
    border: 3px solid #f9683f;
}*/

#lbl-lines{
    position: absolute;
    color: #fef9d2 !important;
    font-size: 21px !important;
    text-align: center !important;
    width: 100%;
    top: -19px;
}

#lbl-coin-value{
    position: absolute;
    color: #fef9d2 !important;
    font-size: 21px !important;
    text-align: center !important;
    width: 100%;
    top: -19px;
     text-shadow:
       -1px -1px 0 #482704,  
        1px -1px 0 #482704,
        -1px 1px 0 #482704,
         1px 1px 0 #482704;
}

.val-lines-btn-enabled{
    color: #fef9d2 !important;
    font-size: 52px !important;
    text-align: center !important;
    width: 97%;
    top: -46px;
    position: absolute;
    font-weight: bold !important;
    left: 1%;
}


/*shining effct*/
.shinning:after {
content: "";
width: 180px;
height: 180px;
opacity: 0;
/*transform: rotate(72deg);*/
background: rgba(255, 255, 255, 0.13);
background: linear-gradient( to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.23) 7%, rgba(255, 255, 255, 0.7) 52%, rgba(255, 255, 255, 0.0) 100% );
animation: shine 0.9s linear;
margin-left: -180px;

position: fixed;
}

@keyframes shine{
 70% {
   opacity: 1;
   /*top: 39%;
   left: 85%;*/

   transition-property: left, top, opacity;
   transition-duration: 0.7s, 0.7s, 0.15s;
   transition-timing-function: ease;
 }
 100% {
   opacity: 0;
   /*top: 39%;
   left: 85%;*/
   transition-property: left, top, opacity;
 }
}
/*shining effct end*/


.icon-border{
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:dotted;
    border-right-style:dotted;
    border-width:2px;
    border-color:#9FB2C1;
    margin-bottom: 0px;
    margin-left: 0px;
}

#error-message,
#info-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
}

.message-box-mobile{
    transform: scale(2);
}


#big-win-container{
    display: block;
    position: absolute;
    width: 94%;
    height: 551px;
    left: 3%;
    top: 45px;    
}

#freespin-lbl-animation{
    position: absolute;
    top: 227px;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 83px;
    color: #fef9d2;
    text-shadow: -4px -4px 0 #621e07, 4px -4px 0 #621e07, -4px 4px 0 #621e07, 4px 4px 0 #621e07;
}
#hight-light-container
{
    display: block;
    position: absolute;
    width: 94%;
    height: 551px;
    left: 3%;
    top: 45px;
    z-index: 99;
    /*border: 1px solid red;*/
}

.high-light-icon {
    font-size: 65px;
    color: #fff;
    min-width: 180px;
    position: absolute;
    padding: 0.2% 0%;
    font-family: 'Myriad Pro Cond';
    z-index: 101;
    text-align: center;
    background-color: transparent;
    height: 173px;

}

.icon-border-animated{
    background: transparent url(../images/highligth/highligth.png);
    background-position: 0px 0px;    
}

.icon-line-border{
    /*border: 3px solid #fbe36f;*/
    border: 3px solid #fff;
    border-radius: 6px;
}


#high-light-icon-re1-ro1{
    left: 0.5% !important;
    top: 1% !important;
}

#high-light-icon-re1-ro2{
    left: 0.5% !important;
    top: 33.4% !important;
}

#high-light-icon-re1-ro3{
    left: 0.5% !important;
    top: 66% !important;
}

#high-light-icon-re2-ro1{
    left: 20.5% !important;
    top: 1% !important;
}

#high-light-icon-re2-ro2{
    left: 20.5% !important;
    top: 33.4% !important;
}

#high-light-icon-re2-ro3{
    left: 20.5% !important;
    top: 66% !important;
}

#high-light-icon-re3-ro1{
    left: 40.4% !important;
    top: 1%;
}

#high-light-icon-re3-ro2{
    left: 40.4% !important;
    top: 33.4%;
}

#high-light-icon-re3-ro3{
    left: 40.4% !important;
    top: 66%;
}

#high-light-icon-re4-ro1{
    left: 60.3% !important;
    top: 1%;
}

#high-light-icon-re4-ro2{
    left: 60.3% !important;
    top: 33.4%;
}

#high-light-icon-re4-ro3{
    left: 60.3% !important;
    top: 66%;
}

#high-light-icon-re5-ro1{
    left: 80.2% !important;
    top: 1%;
}

#high-light-icon-re5-ro2{
    left: 80.2% !important;
    top: 33.4%;

}

#high-light-icon-re5-ro3{
    left: 80.2% !important;
    top: 66%;

}